<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      flex-direction: column;
    "
  >
    <h1>Vending machine API 0.0.1</h1>
    <img
      src="https://i.giphy.com/media/CprnDw0e7u1IHOioYp/giphy.webp"
      alt="Vending machine API"
    />
  </body>
</html>
